.u-section-1 {
  background-image: url("images/719005.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 855px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1020px;
  margin: 230px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 528px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 511px;
  height: 444px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 329px;
  height: 311px;
  margin: -248px 0 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 528px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 0 5px 85px;
}

.u-section-1 .u-text-1 {
  margin: 176px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 60px;
  min-height: 16px;
  width: 60px;
  min-width: 16px;
  white-space: nowrap;
  animation-duration: 1000ms;
  margin: 13px 20px 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-1 .u-image-1 {
    width: 412px;
    height: 408px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -212px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 487px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 313px;
  }

  .u-section-1 .u-image-2 {
    width: 258px;
    margin-top: -111px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 560px;
  }

  .u-section-1 .u-image-1 {
    width: 422px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -151px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-1 .u-image-1 {
    width: 302px;
    height: 296px;
  }

  .u-section-1 .u-image-2 {
    width: 214px;
    margin-top: -144px;
  }
}