@{
    Layout = null;
}
<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="We Build Brands, About Us, Our Last Projects, Our Customers, Featured Project, Contact Us, Try this now!">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>


    <link href="~/Content/nicepage.css" rel="stylesheet" />



    
    <link href="~/Content/Home.css" rel="stylesheet">

    <script src="~/Content/jquery.js"></script>


    <script src="~/Content/nicepage.js"></script>
    <meta name="generator" content="Nicepage 3.13.2, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <script type="application/ld+json">
        {
        "context": "http://schema.org",
        "type": "Organization",
        "name": "",
        "url": "index.cshtml"
        }
    </script>
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#f15048">
    <link rel="canonical" href="index.cshtml">
    <link href="~/Content/Contact.css" rel="stylesheet" />
    <link href="~/Content/Blog-Template.css" rel="stylesheet" />
    <link href="~/Content/Post-Template.css" rel="stylesheet" />
    <meta property="og:url" content="index.html">
</head>
<body data-home-page="Home.cshtml" data-home-page-title="Home" class="u-body">
    <section class="u-clearfix u-image u-shading u-section-1" id="sec-15d4" data-image-width="6121" data-image-height="4081">
        <div class="u-clearfix u-sheet u-sheet-1">
            <a href="@Url.Action("Login","user")" data-page-id="90077249" class="u-border-0 u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-4-dark-1 u-radius-6 u-text-hover-white u-text-white u-btn-1">Login</a>
            <a href="index.cshtml" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-border-palette-4-dark-1 u-btn u-button-style u-none u-text-palette-1-base u-btn-2">HOME</a>
            <div class="u-align-center-lg u-align-center-sm u-align-center-xl u-container-style u-expanded-width-xs u-group u-group-1">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-sm u-valign-middle-xl u-container-layout-1">

                    <img src="~/images/cscscs.jpg" alt="" class="u-image u-image-contain u-image-default u-opacity u-opacity-75 u-image-1" data-image-width="350" data-image-height="350">

                    <h1 class="u-align-center-md u-align-center-xs u-custom-font u-font-georgia u-text u-title u-text-1">Taj Company Ltd.</h1>
                    <div class="u-border-3 u-border-white u-line u-line-horizontal u-line-1"></div>
                    <p class="u-align-center-md u-align-center-xs u-text u-text-2">Big thinking | Creative ideas | Fresh solutions</p>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-6735">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center u-container-style u-group u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-custom-font u-font-georgia u-text u-text-1">About Us</h2>
                    <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
                    <p class="u-text u-text-2">We Deliver holy books including Holy Quran, Hadith , Paras and more.</p>
                </div>
            </div>
            <div class="u-clearfix u-gutter-20 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-2">
                                <span class="u-icon u-icon-circle u-text-palette-1-base u-icon-1">
                                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 480 480"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1771"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-1771" x="0px" y="0px" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve" class="u-svg-content"><g><g><path d="M392,0H88C65.92,0.026,48.026,17.92,48,40v216c0.026,22.08,17.92,39.974,40,40h109.392l-11.424,40H160v16h160v-16h-25.968    l-11.424-40H392c22.08-0.026,39.974-17.92,40-40V40C431.974,17.92,414.08,0.026,392,0z M202.608,336l11.424-40h51.936l11.424,40    H202.608z M416,256c0,13.255-10.745,24-24,24H88c-13.255,0-24-10.745-24-24v-16h352V256z M416,224H64V40c0-13.255,10.745-24,24-24    h304c13.255,0,24,10.745,24,24V224z"></path>
</g>
</g><g><g><path d="M304,368H80c-4.418,0-8,3.582-8,8v96c0,4.418,3.582,8,8,8h224c4.418,0,8-3.582,8-8v-96C312,371.582,308.418,368,304,368z     M296,464H88v-80h208V464z"></path>
</g>
</g><g><g><rect x="104" y="432" width="16" height="16"></rect>
</g>
</g><g><g><rect x="104" y="400" width="16" height="16"></rect>
</g>
</g><g><g><rect x="136" y="400" width="16" height="16"></rect>
</g>
</g><g><g><rect x="168" y="400" width="16" height="16"></rect>
</g>
</g><g><g><rect x="232" y="400" width="16" height="16"></rect>
</g>
</g><g><g><rect x="200" y="400" width="16" height="16"></rect>
</g>
</g><g><g><rect x="264" y="432" width="16" height="16"></rect>
</g>
</g><g><g><rect x="264" y="400" width="16" height="16"></rect>
</g>
</g><g><g><rect x="136" y="432" width="112" height="16"></rect>
</g>
</g><g><g><path d="M368,368c-22.091,0-40,17.909-40,40v32c0,22.091,17.909,40,40,40c22.091,0,40-17.909,40-40v-32    C408,385.909,390.091,368,368,368z M392,440c0,13.255-10.745,24-24,24s-24-10.745-24-24v-32c0-13.255,10.745-24,24-24    s24,10.745,24,24V440z"></path>
</g>
</g><g><g><rect x="360" y="400" width="16" height="16"></rect>
</g>
</g><g><g><rect x="181.737" y="120.139" transform="matrix(0.2751 -0.9614 0.9614 0.2751 50.7457 323.5759)" width="116.43" height="15.993"></rect>
</g>
</g><g><g><path d="M197.12,94.144l-10.24-12.288l-48,40c-3.393,2.83-3.85,7.874-1.02,11.268c0.309,0.37,0.65,0.712,1.02,1.02l48,40    l10.24-12.288L156.496,128L197.12,94.144z"></path>
</g>
</g><g><g><path d="M342.14,122.876c-0.309-0.37-0.65-0.712-1.02-1.02l-48-40l-10.24,12.288L323.504,128l-40.624,33.856l10.24,12.288l48-40    C344.513,131.314,344.97,126.27,342.14,122.876z"></path>
</g>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                </span>
                                <h3 class="u-custom-font u-font-georgia u-text u-text-3">Brand Development</h3>
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-layout-cell u-size-20 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-3">
                                <span class="u-icon u-icon-circle u-text-palette-1-base u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 569 569.54905"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9c64"></use></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 569 569.54905" id="svg-9c64" class="u-svg-content"><path d="m1.527344 52.246094 37.984375 66.46875c1.28125 2.246094 3.425781 3.871094 5.933593 4.5l35.4375 8.859375 121.542969 121.542969 13.429688-13.425782-123.445313-123.441406c-1.214844-1.21875-2.738281-2.082031-4.40625-2.5l-34.050781-8.542969-32.339844-56.625 27.726563-27.726562 56.648437 32.371093 8.546875 34.050782c.414063 1.671875 1.28125 3.199218 2.496094 4.414062l123.445312 123.445313 13.425782-13.429688-121.542969-121.542969-8.859375-35.417968c-.628906-2.511719-2.253906-4.660156-4.5-5.945313l-66.472656-37.980469c-3.707032-2.109374-8.371094-1.484374-11.394532 1.527344l-37.980468 37.984375c-3.0546878 3.003907-3.71875 7.675781-1.625 11.414063zm0 0"></path><path d="m396.3125 187.144531-208.902344 208.90625-13.429687-13.429687 208.90625-208.902344zm0 0"></path><path d="m150.847656 403.441406c-1.71875-2.859375-4.804687-4.605468-8.140625-4.605468h-56.972656c-3.332031 0-6.421875 1.746093-8.136719 4.605468l-28.488281 47.476563c-1.808594 3.007812-1.808594 6.769531 0 9.78125l28.488281 47.476562c1.714844 2.855469 4.804688 4.605469 8.136719 4.605469h56.972656c3.335938 0 6.421875-1.75 8.140625-4.605469l28.484375-47.476562c1.808594-3.011719 1.808594-6.773438 0-9.78125zm-13.511718 90.347656h-46.226563l-22.789063-37.980468 22.789063-37.984375h46.226563l22.789062 37.984375zm0 0"></path><path d="m456.0625 227.914062c62.714844.210938 113.730469-50.460937 113.941406-113.175781.03125-9.546875-1.140625-19.054687-3.488281-28.308593-1.265625-5.089844-6.417969-8.1875-11.507813-6.921876-1.671874.417969-3.195312 1.28125-4.414062 2.496094l-59.109375 59.070313-46.898437-15.628907-15.640626-46.886718 59.109376-59.121094c3.707031-3.710938 3.703124-9.722656-.007813-13.429688-1.222656-1.222656-2.761719-2.089843-4.445313-2.503906-60.820312-15.402344-122.605468 21.414063-138.007812 82.230469-2.339844 9.226563-3.507812 18.710937-3.476562 28.230469.023437 7.476562.792968 14.929687 2.308593 22.25l-207.957031 207.953125c-7.320312-1.511719-14.773438-2.28125-22.246094-2.308594-62.933594 0-113.949218 51.015625-113.949218 113.949219 0 62.929687 51.015624 113.945312 113.949218 113.945312 62.929688 0 113.945313-51.015625 113.945313-113.945312-.023438-7.476563-.796875-14.929688-2.308594-22.25l49.785156-49.785156 21.773438 21.773437c3.710937 3.707031 9.71875 3.707031 13.429687 0l4.746094-4.75c4.164062-4.136719 10.894531-4.136719 15.058594 0 4.160156 4.148437 4.167968 10.882813.019531 15.042969-.003906.003906-.011719.011718-.019531.019531l-4.746094 4.746094c-3.707031 3.707031-3.707031 9.71875 0 13.425781l113.273438 113.273438c29.792968 30.066406 78.316406 30.285156 108.382812.492187 30.0625-29.792969 30.28125-78.320313.488281-108.382813-.160156-.164062-.324219-.328124-.488281-.492187l-113.273438-113.269531c-3.707031-3.707032-9.71875-3.707032-13.425781 0l-4.746093 4.746094c-4.167969 4.140624-10.894532 4.140624-15.0625 0-4.15625-4.148438-4.167969-10.882813-.019532-15.039063.007813-.007813.015625-.011719.019532-.019531l4.75-4.75c3.707031-3.707032 3.707031-9.71875 0-13.425782l-21.773438-21.773437 49.785156-49.785156c7.320313 1.511719 14.773438 2.285156 22.246094 2.308593zm37.308594 322.851563c-6.898438-.011719-13.738282-1.257813-20.195313-3.683594l74.160157-74.164062c11.191406 29.769531-3.867188 62.972656-33.636719 74.164062-6.496094 2.441407-13.382813 3.691407-20.328125 3.683594zm-107.574219-246.792969c-10.515625 12.542969-8.867187 31.238282 3.675781 41.75 11.023438 9.238282 27.089844 9.230469 38.101563-.027344l106.5625 106.65625c1.15625 1.160157 2.238281 2.382813 3.285156 3.625l-81.1875 81.1875c-1.246094-1.042968-2.46875-2.125-3.628906-3.285156l-106.644531-106.652344c10.515624-12.542968 8.867187-31.238281-3.675782-41.75-11.023437-9.242187-27.09375-9.230468-38.105468.023438l-15.191407-15.191406 81.613281-81.492188zm38.34375-95.503906-215.410156 215.367188c-2.363281 2.359374-3.3125 5.785156-2.507813 9.023437 13.027344 51.160156-17.886718 103.195313-69.050781 116.21875-51.160156 13.027344-103.195313-17.886719-116.222656-69.050781-13.023438-51.160156 17.890625-103.195313 69.054687-116.222656 15.476563-3.9375 31.691406-3.9375 47.167969 0 3.238281.792968 6.65625-.15625 9.023437-2.503907l215.359376-215.371093c2.359374-2.359376 3.308593-5.785157 2.496093-9.019532-12.9375-50.5625 17.5625-102.039062 68.125-114.980468 9.554688-2.441407 19.4375-3.378907 29.28125-2.765626l-50.089843 50.109376c-2.542969 2.539062-3.433594 6.300781-2.296876 9.710937l18.988282 56.976563c.949218 2.832031 3.175781 5.058593 6.011718 6l56.976563 18.992187c3.40625 1.136719 7.167969.25 9.710937-2.289063l50.089844-50.089843c.113282 1.8125.171875 3.605469.171875 5.390625.265625 52.175781-41.8125 94.6875-93.988281 94.957031-8.066406.039063-16.105469-.953125-23.917969-2.953125-3.238281-.808594-6.664062.136719-9.023437 2.496094h.050781zm0 0"></path><path d="m491.273438 477.578125-13.429688 13.429687-94.953125-94.953124 13.425781-13.429688zm0 0"></path></svg></span>
                                <h3 class="u-custom-font u-font-georgia u-text u-text-4">Creative Services</h3>
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-3">
                            <div class="u-container-layout u-container-layout-4">
                                <span class="u-icon u-icon-circle u-text-palette-1-base u-icon-3">
                                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 380.65 380.65"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-349f"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-349f" x="0px" y="0px" viewBox="0 0 380.65 380.65" style="enable-background:new 0 0 380.65 380.65;" xml:space="preserve" class="u-svg-content"><g><g><path d="M310.805,268.65h-44.84c-9.267-0.006-18.377,2.392-26.44,6.96c-6.863,3.893-12.8,9.229-17.4,15.64    c-3.064-0.535-6.169-0.802-9.28-0.8h-44.88c-3.111-0.003-6.216,0.265-9.28,0.8c-4.599-6.412-10.536-11.748-17.4-15.64    c-8.063-4.568-17.173-6.966-26.44-6.96h-44.84c-29.796,0.066-53.934,24.204-54,54v30.44c0.022,3.188,2.612,5.76,5.8,5.76h92v16    c0,3.203,2.597,5.8,5.8,5.8h141.44c3.203,0,5.8-2.597,5.8-5.8v-16h92c3.203,0,5.8-2.597,5.8-5.8v-30.4    C364.579,292.916,340.538,268.804,310.805,268.65z M114.405,339.25v1.24c0,0.56,0,1.08,0,1.64v2.32v2.8h-86.8v-24.6    c0.066-23.39,19.01-42.334,42.4-42.4h44.84c7.261-0.008,14.4,1.866,20.72,5.44c4.237,2.396,8.038,5.494,11.24,9.16    C128.756,302.684,116.36,319.672,114.405,339.25z M255.125,344.45v24.64h-129.56v-25.08c0-0.453,0-0.893,0-1.32    c0-0.693,0-1.387,0-2.08v-1.04c0-0.4,0-0.8,0-1.2v-1.28v-0.4v-0.44v-0.88l0.24-0.96l0.4-1.44l0.28-0.96    c5.746-17.415,21.982-29.206,40.32-29.28l1.16-0.64h44.88c21.297,0.078,39.258,15.885,42.04,37c0,0.88,0,1.76,0.24,2.64    C255.125,342.637,255.125,343.543,255.125,344.45z M353.205,347.29h-86.4v-3.48c0-0.44,0-0.88,0-1.32c0-0.453,0-0.907,0-1.36    c0-0.64,0-1.32,0-1.96v-0.6v-0.68v-1.24v-0.2v-0.48v-0.44v-0.28v-0.52v-0.56v-0.28v-0.36v-0.36v-0.36v-0.88v-0.4v-0.52v-0.52    l-0.28-1v-0.4v-0.36v-0.28v-0.4v-0.52l-0.56-1.56c-5.212-13.855-15.842-24.99-29.44-30.84c2.406-3.562,5.332-6.744,8.68-9.44    c6.32-3.574,13.459-5.448,20.72-5.44h44.88c23.389,0.066,42.334,19.01,42.4,42.4V347.29z"></path>
</g>
</g><g><g><circle cx="190.645" cy="77.85" r="6.56"></circle>
</g>
</g><g><g><path d="M121.285,189.17c-7.643-7.688-18.039-12.008-28.88-12c-22.555-0.02-40.856,18.248-40.876,40.804    c-0.02,22.555,18.248,40.856,40.804,40.876s40.856-18.248,40.876-40.804C133.218,207.221,128.93,196.835,121.285,189.17z     M113.085,238.65c-11.417,11.421-29.93,11.425-41.352,0.008c-11.421-11.417-11.425-29.93-0.008-41.352    c11.417-11.421,29.93-11.425,41.352-0.008c5.484,5.482,8.566,12.918,8.568,20.672C121.656,225.728,118.576,233.17,113.085,238.65z    "></path>
</g>
</g><g><g><circle cx="233.045" cy="77.85" r="6.56"></circle>
</g>
</g><g><g><path d="M258.725,22.73c-19.566-15.048-43.638-23.053-68.32-22.72c-24.682-0.333-48.753,7.672-68.32,22.72    c-17.92,14.32-29,34.24-29,56.28c0.022,11.194,2.87,22.201,8.28,32c5.148,9.257,12.066,17.412,20.36,24l-4.6,30.6    c-0.479,3.145,1.683,6.082,4.828,6.561c1.303,0.198,2.634-0.056,3.772-0.721l31.28-18.24c4.957,1.474,10.009,2.61,15.12,3.4    c6.062,0.934,12.187,1.402,18.32,1.4c24.682,0.333,48.754-7.672,68.32-22.72c17.88-14.36,28.96-34.24,28.96-56.28    S276.645,37.05,258.725,22.73z M251.525,126.33c-17.545,13.349-39.077,20.395-61.12,20c-5.53,0.008-11.053-0.406-16.52-1.24    c-5.424-0.811-10.774-2.055-16-3.72c-1.551-0.489-3.236-0.301-4.64,0.52l-22.84,13.48l3.32-22c0.317-2.149-0.594-4.295-2.36-5.56    c-8.204-5.937-15.027-13.578-20-22.4c-4.448-8.089-6.786-17.169-6.8-26.4c0-18.4,9.4-35.12,24.6-47.28    c17.545-13.349,39.077-20.395,61.12-20c22.043-0.395,43.575,6.651,61.12,20c15.2,12,24.6,28.88,24.6,47.28    C276.005,97.41,266.725,114.13,251.525,126.33z"></path>
</g>
</g><g><g><path d="M288.438,177.13c-22.555-0.02-40.856,18.248-40.876,40.804c-0.01,10.825,4.279,21.212,11.924,28.876    c7.643,7.688,18.039,12.008,28.88,12c22.555,0.02,40.856-18.248,40.876-40.804S310.993,177.15,288.438,177.13z M309.085,238.633    c-11.417,11.421-29.93,11.425-41.352,0.008c-5.484-5.482-8.566-12.918-8.568-20.672c-0.011-7.758,3.069-15.2,8.56-20.68    c11.417-11.421,29.93-11.425,41.352-0.008C320.498,208.698,320.502,227.212,309.085,238.633z"></path>
</g>
</g><g><g><circle cx="148.245" cy="77.85" r="6.56"></circle>
</g>
</g><g><g><path d="M219.225,210.83c-7.652-7.626-18.017-11.905-28.82-11.9c-10.841-0.008-21.237,4.312-28.88,12    c-15.906,15.961-15.861,41.794,0.1,57.7c15.961,15.906,41.794,15.861,57.7-0.1S235.186,226.736,219.225,210.83z M190.397,269.042    c-16.149-0.005-29.236-13.1-29.232-29.248s13.1-29.236,29.248-29.232c7.754,0.002,15.19,3.084,20.672,8.568    c5.491,5.48,8.571,12.922,8.56,20.68C219.64,255.959,206.545,269.046,190.397,269.042z"></path>
</g>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                </span>
                                <h3 class="u-custom-font u-font-georgia u-text u-text-5">Building Teams</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-3" id="sec-e229">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h1 class="u-text u-text-1">Recomended for you</h1>
        </div>
    </section>
    <section class="u-clearfix u-section-4" id="sec-61fa">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-sheet-1">
            <div class="u-gallery u-layout-horizontal u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
                <div class="u-gallery-inner">
                    <div class="u-effect-fade u-gallery-item u-gallery-item-1">
                        <div class="u-back-slide" data-image-width="4896" data-image-height="3264">
                            <img class="u-back-image" src="images/freddie-marriage-w8JiSVyjy-8-unsplash.jpg">
                        </div><div class="u-over-slide u-shading u-over-slide-1">
                            <h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
                        </div>
                    </div><div class="u-effect-fade u-gallery-item u-gallery-item-2">
                        <div class="u-back-slide" data-image-width="3456" data-image-height="5184">
                            <img class="u-back-image" src="~/images/sincerely-media-CXYPfveiuis-unsplash.jpg">
                        </div><div class="u-over-slide u-shading u-over-slide-2">
                            <h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
                        </div>
                    </div><div class="u-effect-fade u-gallery-item u-gallery-item-3">
                        <div class="u-back-slide" data-image-width="2730" data-image-height="4096">
                            <img class="u-back-image" src="~/images/studio-media-9DaOYUYnOls-unsplash.jpg">
                        </div><div class="u-over-slide u-shading u-over-slide-3">
                            <h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
                        </div>
                    </div><div class="u-effect-fade u-gallery-item u-gallery-item-4">
                        <div class="u-back-slide">
                            <img class="u-back-image" src="~/images/default-image.jpg" />
                        </div><div class="u-over-slide u-shading u-over-slide-4">
                            <h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
                        </div>
                    </div><div class="u-effect-fade u-gallery-item u-gallery-item-5">
                        <div class="u-back-slide">
                            <img class="u-back-image" src="~/images/default-image.jpg">
                        </div><div class="u-over-slide u-shading u-over-slide-5">
                            <h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
                        </div>
                    </div><div class="u-effect-fade u-gallery-item u-gallery-item-6">
                        <div class="u-back-slide">
                            <img class="u-back-image" src="~/images/default-image.jpg">
                        </div><div class="u-over-slide u-shading u-over-slide-6">
                            <h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
                        </div>
                    </div>
                </div>
                <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-icon-circle u-opacity u-opacity-70 u-palette-1-base u-spacing-10 u-gallery-nav-1" href="#" role="button">
                    <span aria-hidden="true">
                        <svg viewBox="0 0 451.847 451.847">
                            <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                        </svg>
                    </span>
                    <span class="sr-only">
                        <svg viewBox="0 0 451.847 451.847">
                            <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                        </svg>
                    </span>
                </a>
                <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-icon-circle u-opacity u-opacity-70 u-palette-1-base u-spacing-10 u-gallery-nav-2" href="#" role="button">
                    <span aria-hidden="true">
                        <svg viewBox="0 0 451.846 451.847">
                            <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                        </svg>
                    </span>
                    <span class="sr-only">
                        <svg viewBox="0 0 451.846 451.847">
                            <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-custom-color-2 u-section-5" id="sec-b733">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center-lg u-align-center-sm u-align-center-xl u-align-center-xs u-container-style u-group u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-align-center-md u-custom-font u-font-georgia u-text u-text-1">Our Products</h2>
                    <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
                    <p class="u-align-center-md u-text u-text-2">Our Products That we offer are below</p>
                </div>
            </div>
            <div class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-20 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-40">
                            <div class="u-layout-col">
                                <div class="u-size-20 u-size-60-md">
                                    <div class="u-layout-row">
                                        <div class="u-container-style u-layout-cell u-left-cell u-palette-1-base u-size-30 u-layout-cell-1">
                                            <div class="u-container-layout u-valign-middle u-container-layout-2">
                                                <h3 class="u-custom-font u-font-georgia u-text u-text-3" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">On the authority of Abu Harayrah (may Allah be pleased with him) from the Prophet (ﷺ), who said:</h3>
                                                <p class="u-text u-text-4" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">Allah (mighty and sublime be He) said: Spend (on charity), O son of Adam, and I shall spend on you. It was related by al-Bukhari (also by Muslim).</p>
                                            </div>
                                        </div>
                                        <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="6102" data-image-height="4068">
                                            <div class="u-container-layout">
                                                <h1 class="u-text u-text-body-alt-color u-text-5">
                                                    Holy&nbsp;<br>&nbsp; &nbsp; &nbsp; &nbsp;Q​uran
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-size-40 u-size-60-md">
                                    <div class="u-layout-row">
                                        <div class="u-size-30">
                                            <div class="u-layout-col">
                                                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-60 u-image-2" data-image-width="800" data-image-height="800">
                                                    <div class="u-container-layout">
                                                        <h1 class="u-text u-text-body-alt-color u-text-6">Janamaz</h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="u-size-30">
                                            <div class="u-layout-col">
                                                <div class="u-container-style u-image u-layout-cell u-size-30 u-image-3" data-image-width="800" data-image-height="600">
                                                    <div class="u-container-layout">
                                                        <h1 class="u-text u-text-body-alt-color u-text-7">Quran Rail</h1>
                                                    </div>
                                                </div>
                                                <div class="u-container-style u-image u-layout-cell u-size-30 u-image-4" data-image-width="307" data-image-height="363">
                                                    <div class="u-container-layout">
                                                        <h1 class="u-text u-text-8">
                                                            <span class="u-text-body-alt-color">Hadith</span>
                                                        </h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-20">
                            <div class="u-layout-col">
                                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-40 u-image-5" data-image-width="450" data-image-height="600">
                                    <div class="u-container-layout">
                                        <h1 class="u-text u-text-body-alt-color u-text-9">Prars</h1>
                                    </div>
                                </div>
                                <div class="u-container-style u-layout-cell u-palette-1-base u-right-cell u-size-20 u-layout-cell-7">
                                    <div class="u-container-layout u-valign-middle">
                                        <p class="u-text u-text-10" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">
                                            A room without&nbsp;<b>books</b>&nbsp;is like a body without a soul.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="u-btn u-button-style u-btn-1">view more</a>
        </div>
    </section>
    <section class="u-clearfix u-section-6" id="sec-5fa5">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-30 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-left-cell u-size-20 u-size-20-md u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <div alt="" class="u-align-left u-image u-image-circle u-image-1" data-image-width="1920" data-image-height="1920"></div>
                                <h5 class="u-align-center u-custom-font u-font-georgia u-text u-text-1">Muhammad Zahid Chaudhry</h5>
                                <p class="u-align-center u-text u-text-2">Owner</p>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-20 u-size-20-md u-layout-cell-2">
                            <div class="u-container-layout u-valign-middle-md u-valign-middle-xs u-valign-top-lg u-container-layout-2">
                                <div alt="" class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-image u-image-circle u-image-2" data-image-width="1920" data-image-height="1920"></div>
                                <h5 class="u-align-center u-custom-font u-font-georgia u-text u-text-3">Bilal Akram</h5>
                                <p class="u-align-center u-text u-text-4">Owner</p>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-size-20-md u-layout-cell-3">
                            <div class="u-container-layout u-valign-middle-xl u-valign-middle-xs u-valign-top-lg u-container-layout-3">
                                <div alt="" class="u-align-left u-image u-image-circle u-image-3" data-image-width="1920" data-image-height="1920"></div>
                                <h5 class="u-align-center u-custom-font u-font-georgia u-text u-text-5">Zeshan Awais</h5>
                                <p class="u-align-center u-text u-text-6">Sales manager</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-image u-shading u-section-7" id="sec-029a">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center u-container-style u-group u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-custom-font u-font-georgia u-text u-text-1">Our Customers</h2>
                    <p class="u-text u-text-2">Whether your current company needs to be rebranded or you are a new startup and know you need to brand yourself, it is definitely one of those tasks that make you take a step back and say, “Where in the world do I start?”</p>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-8" id="sec-e51d">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-100 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <h2 class="u-custom-font u-font-georgia u-text u-text-1">Featured Project</h2>
                                <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
                                <p class="u-text u-text-2">Attar is one of the new product that we have introduced in shop, along side digital tashbee and honey.</p>
                                <a class="u-btn u-button-style u-btn-1">view more</a>
                            </div>
                        </div>
                        <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="302" data-image-height="351" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            <div class="u-container-layout"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-9" id="sec-b555">
        <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <h2 class="u-text u-text-1">Taj Company Ltd.</h2>
                                <p class="u-text u-text-2">Liaqat Rd, Naya Mohalla, Rawalpindi, Punjab 46000</p>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <div class="u-expanded u-grey-10 u-map">
                                    <div class="embed-responsive">
                                        <iframe class="embed-responsive-item" src="//maps.google.com/maps?output=embed&amp;q=Liaqat%20Rd%2C%20Naya%20Mohalla%2C%20Rawalpindi%2C%20Punjab%2046000&amp;t=m" data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLXBvaW50JTIyJTJDJTIyYWRkcmVzcyUyMiUzQSUyMkxpYXFhdCUyMFJkJTJDJTIwTmF5YSUyME1vaGFsbGElMkMlMjBSYXdhbHBpbmRpJTJDJTIwUHVuamFiJTIwNDYwMDAlMjIlMkMlMjJ6b29tJTIyJTNBbnVsbCUyQyUyMnR5cGVJZCUyMiUzQSUyMnJvYWQlMjIlMkMlMjJsYW5nJTIyJTNBbnVsbCUyQyUyMmFwaUtleSUyMiUzQW51bGwlMkMlMjJtYXJrZXJzJTIyJTNBJTVCJTVEJTdE"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-custom-color-2 u-section-10" id="sec-8b40">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-custom-font u-font-georgia u-text u-text-1">Contact Us</h2>
                    <p class="u-text u-text-2">We do this every day for our clients, and we also make an effort to add kindness to the world though work for worthy nonprofit organizations, and through our annual.</p>
                </div>
            </div>
            <div class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-56 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                                <h4 class="u-custom-font u-font-georgia u-text u-text-3">Contact</h4>
                                <p class="u-text u-text-4">
                                    Muhammad Zahid Chaudhry<br>03215105141<br>0515553179<br>
                                </p>
                                <div class="u-social-icons u-spacing-10 u-social-icons-1">
                                    <a class="u-social-url" target="_blank" href="">
                                        <span class="u-icon u-icon-circle u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a479"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-a479" class="u-svg-content"><path d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path></svg></span>
                                    </a>
                                    <a class="u-social-url" target="_blank" href="">
                                        <span class="u-icon u-icon-circle u-social-icon u-social-twitter u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9ae5"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-9ae5" class="u-svg-content"><path d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2 c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7 c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2 c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5 c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"></path></svg></span>
                                    </a>
                                    <a class="u-social-url" target="_blank" href="">
                                        <span class="u-icon u-icon-circle u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6150"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-6150" class="u-svg-content"><path d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path><path d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path><path d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path></svg></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-40 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-3">
                                <h5 class="u-text u-text-5">Timing</h5>
                                <p class="u-text u-text-6">Mon - Thur: 11 am - 9pm</p>
                                <p class="u-text u-text-7">Sat - Sun&nbsp; &nbsp; : 11 am - 9pm</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-left u-clearfix u-palette-1-base u-section-11" id="sec-9453">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h6 class="u-text u-text-1">Copyright 2021 Taj Company- All rights reserved</h6>
        </div>
    </section>


</body>
</html>